body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: aquamarine;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.note {
  width: 400px;
  height: 400px;
  background-color: white;
  color: black;
  border-radius: 8px;
  margin: 30px;
  font-size: medium;
  font-weight: bold;
  font-family: inherit;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .note {
    display: block;
    margin: 30px auto;
    width: 300px;
    height: 300px;
  }
}
.note-header {
  background-color: lime;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: flex-end;
}
.edit,
.delete {
  padding: 10px;
  color: white;
  background-color: darkslateblue;
  border-radius: 4px;
  border: none;
  outline: none;
  margin: 0 10px;
  font-size: medium;
  font-weight: bold;
  font-family: inherit;
}
.edit:hover {
  cursor: pointer;
  color: black;
  background-color: blanchedalmond;
}
.delete:hover {
  cursor: pointer;
  color: black;
  background-color: blanchedalmond;
}
.text-container {
  background-color: grey;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.note .hide {
  display: none;
}
.note textarea {
  width: 100%;
  height: 100%;
  border: none;
  font-size: medium;
  font-weight: bold;
  font-family: inherit;
  resize: none;
}
.new-note-add {
  margin: 20px auto !important;
  display: block;
  padding: 10px;
  color: white;
  background-color: darkslateblue;
  border-radius: 4px;
  border: none;
  outline: none;
  margin: 0 10px;
  font-size: medium;
  font-weight: bold;
  font-family: inherit;
}
.new-note-add:hover {
  cursor: pointer;
  color: black;
  background-color: blanchedalmond;
}
